{% extends 'covid/data.html' %} {% load humanize %} {% block content %}

<div class="container mt-2">
  <h2>Kasus Covid-19 Nasional</h2>
  <div class="row text-left row mx-lg-n4 mx-n4">
    <div class="col-sm-4 px-lg-2 mb-2">
      <div class="card statistics case__positive">
        <div class="card-body">
          <div class="row">
            <div class="col-8 total-case">{{positif| intcomma}}</div>
          </div>
          <div class="row">
            <div class="col-8 case-category">Positif</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 px-lg-2 mb-3">
      <div class="card statistics case__recovery">
        <div class="card-body">
          <div class="row">
            <div class="col-8 total-case">{{sembuh | intcomma }}</div>
          </div>
          <div class="row">
            <div class="col-8 case-category">Sembuh</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 px-lg-2 mb-3">
      <div class="card statistics case__treatment">
        <div class="card-body">
          <div class="row">
            <div class="col-8 total-case">{{deaths | intcomma }}</div>
          </div>
          <div class="row">
            <div class="col-8 case-category">Meninggal</div>
          </div>
        </div>
      </div>
    </div>

    <!--dddddddddddddddddddddddddddddddddddddddddddddddddddd-->

    <div class="container mt-2">
      <h2>Vaksinasi COVID-19 Nasional (update : {{update}})</h2>
      <div class="row text-left row mx-lg-n4 mx-n4">
        <div class="col-sm-4 px-lg-2 mb-2">
          <div class="card statistics case__recovery">
            <div class="card-body">
              <div class="row">
                <div class="col-8 total-case">{{total| intcomma}}</div>
              </div>
              <div class="row">
                <div class="col-8 case-category">Sasaran Vaksinasi</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 px-lg-2 mb-3">
          <div class="card statistics case__petugas">
            <div class="card-body">
              <div class="row">
                <div class="col-8 total-case">{{sdmk | intcomma }}</div>
              </div>
              <div class="row">
                <div class="col-8 case-vak">
                  Sasaran Vaksinasi Petugas Kesehatan
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- small box -->
        <div class="col-sm-4 px-lg-2 mb-3">
          <div class="card statistics case__lansia">
            <div class="card-body">
              <div class="row">
                <div class="col-8 total-case">{{lansia | intcomma }}</div>
              </div>
              <div class="row">
                <div class="col-8 case-category">Sasaran Vaksinasi lansia</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 px-lg-2 mb-3">
          <div class="card statistics case__publik">
            <div class="card-body">
              <div class="row">
                <div class="col-8 total-case">{{publik | intcomma }}</div>
              </div>
              <div class="row">
                <div class="col-8 case-vak">
                  Sasaran Vaksinasi Petugas Publik
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 px-lg-2 mb-2">
          <div class="card statistics case__positive">
            <div class="card-body">
              <div class="row">
                <div class="col-8 total-case">{{vak1| intcomma}}</div>
              </div>
              <div class="row">
                <div class="col-8 case-category">Vaksinasi 1</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 px-lg-2 mb-2">
          <div class="card statistics case__recovery">
            <div class="card-body">
              <div class="row">
                <div class="col-8 total-case">{{vak2| intcomma}}</div>
              </div>
              <div class="row">
                <div class="col-8 case-category">Vaksinasi 2</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="mt-5">Stats Covid-19 Nasional</h3>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Provinsi</th>
              <th scope="col">Kasus</th>
              <th scope="col">Dirawat</th>
              <th scope="col">Sembuh</th>
              <th scope="col">Meninggal</th>
            </tr>
          </thead>
          <tbody>
            {% for data in data%}
            <tr>
              <th scope="row">{{data.provin}}</th>
              <td>{{data.kasus|intcomma}}</td>
              <td>{{data.dirawat|intcomma}}</td>
              <td>{{data.sembuh|intcomma}}</td>
              <td>{{data.meninggal|intcomma}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
